---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

.publication-entry {
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.6;
}
